{% extends 'base.html' %}
{% block content %}
<h1>{{song.title}} by {{song.artist}}</h1>
<div class="card purple lighten-2">
  <div class="card-content black-text">
    <span class="card-title">{{song.title}}</span>
    <p>Artist: {{ song.artist }}</p>
    <p>Owner: {{ song.user }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'songs_update' song.id %}">Edit This Song</a>
    <a href="{% url 'songs_delete' song.id %}">Delete This Song</a>
  </div>
</div>
<h2>Comments</h2>
  {% for comment in song.comments.all %}
    <div class="card">
      <div class="card-content">
        <p>{{ comment.comment_text }}</p>
        <p>Created at: {{ comment.created_at }}</p>
        <p>Author: {{ comment.user }}</p>
      </div>
      <a href="{% url 'comment_update' comment.id %}">Edit</a>
      <a href="{% url 'comment_delete' comment.id %}">Delete</a>
    </div>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}
  <form method="POST">
{% csrf_token %}
    <textarea name="comment_text" rows="4" cols="50"></textarea><br>
    <button type="submit">Add Comments</button>
  </form>
{% endblock %}